<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="Gallery Symfony 3 app">
        <title>{% block title %}Gallery{% endblock %}</title>
        <link href="{{ asset("css/style.css") }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <div id="viewport" class="container">
            <div id="region-heading"></div>

            <div id="region-content"></div>

            <div id="region-pagination"></div>
        </div>

        <script type="x-template/underscore" id="template-heading-albums">
            <h1>Albums</h1>
        </script>

        <script type="x-template/underscore" id="template-heading-album">
            <h1>Album: <%= name %></h1>

            <p>
                <a href="/" class="spa-link">Albums</a>
            </p>
        </script>

        <script type="x-template/underscore" id="template-page-albums">
            <div class="albums-container"></div>
        </script>

        <script type="x-template/underscore" id="template-page-album">
            <div class="images-container"></div>
        </script>

        <script type="x-template/underscore" id="template-album">
            <h4>
                <a href="/album/<%= id %>" class="spa-link">
                    <%= name %>
                </a>
            </h4>

            <div>
                <% _.each(images, function(image) { %>
                    <a href="/image/<%= image.slug %>/<%= image.original_filename %>" target="_blank" class="thumbnail image-thumbnail">
                        <img src="/image/<%= image.slug %>/<%= image.original_filename %>">
                    </a>
                <% }); %>
            </div>
        </script>

        <script type="x-template/underscore" id="template-album-info">
            <h1><%= name %></h1>
        </script>

        <script type="x-template/underscore" id="template-image">
            <a href="/image/<%= slug %>/<%= original_filename %>" target="_blank" class="thumbnail image-thumbnail">
                <img src="/image/<%= slug %>/<%= original_filename %>">
            </a>
        </script>

        <script src="{{ asset('js/libraries.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
